.ListingCard {
    margin: auto;
    margin-bottom: 40px;
    width : 25%;
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3b6fb3;
    border-radius: 11px;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    color: white;
}

.ListingSidePanel {
    position: absolute;
    right: 0;
    width: 80%;
    height: 100%;
    background-color: #089654;
    padding: 20px;
    color: white;


    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 4;
    overflow-y: auto;
}

.ListingSidePanel.active{
    transform: translateX(0);
}

.ListingCardTags {
    display: flex;
    flex-direction: column;
    height: 100px;
    width: 100%;
    flex-shrink: 0;
}

.ListingCardCollectionTag, .ListingCardOnSaleTag{
    display: flex;
    height: 50px;
    width: 126px;
    color: white;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-top: transparent;
}
.ListingCardCollectionTag {
    background-color: #28c9bf;
    text-transform: capitalize;
}

.ListingCardOnSaleTag{
    background-color: #b50d34;
    border-radius: 0 0 20px 0;
}

.ListingCardDetails {
    margin-top: auto;
    width: 100%;
    height: 170px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
    color: black;
}

.ListingCardName{
    margin: 0;
    font-size: 1.6rem;
}

.ListingCardPrice{
    margin-top: -10px;
}

.ListingCardInfoBtn{
    border: 2px solid white;
    color: white;
    background-color: #089654;
    border-radius: 10px;
    flex-basis: 25%;
    width: 150px;
    
}

.ListingCardInfoBtn:hover{
    border: 2px solid #089654;
    color: #089654;
    background-color: white;
}

.ListingCardBuyBtn {
    margin-top: 10px;
    background-color: #28c9bf;
    border: 2px solid white;
    color: white;
    flex-basis: 25%;
    width: 150px;
    border-radius: 10px;
}

.ListingCardBuyBtn:hover{
    background-color: white;
    border: 2px solid #28c9bf;
    color: #28c9bf;    
}

.ListingSidePanelCloseBtn{
    background-color: transparent;
    font-size: 1.8rem;
    border: transparent;
    color: white;
}

@media screen and (max-width: 1000px) {
    .ListingCard {
        width: 40%;
    }
}

@media screen and (max-width: 600px) {
    .ListingCard {
        width: 80%;
    }
}

