#checkoutContainer{
    display: flex;
    padding: 3%;
    gap: 20px;
    width: 100vw;
    padding-top: 70px;
    color: white;
}

.checkoutList{
    width: 75%;
}

#checkoutPage .cartItem{
    height: 300px;
}
#checkoutPage .cartItemImg{
    height: 100%;
    object-fit: contain;
}

.deliveryToggle{
    display: flex;
    flex-direction: column;
}

.deliveryBtn{
    width: 90%;
    height: 50px;
    border: 1px solid white;
    color: white;
    background-color: #089654;
    border-radius: 10px;
    margin-bottom: 20px;
}

#shippingBtn.active, #pickupBtn.active{
    border: #089654;
    color: #089654;
    background-color: white;
}

#checkoutPage .cartItemName{
    padding-bottom: 0;
}

#checkoutPage{
    width: 200px;
    height: 50px;

}

#checkoutPage .removeBtn{
    margin-left: auto;
}

.checkoutSummary{
    width: 25%;
    display: flex;
    flex-direction: column;
}

#orderSummary{
    align-self: center;
}

@media screen and (max-width: 1000px) {

    #checkoutContainer{
        flex-direction: column;
    }

    .checkoutList, .checkoutSummary{
        width: 80vw;
        margin: auto;
    }

    .checkoutSummary{
        padding: 5%;
    }

    .deliveryBtn {
        width: 100%;
    }
}