#searchBarContainer {
    border: 2px solid white;
    width: 60vw;
    height: 50px;
    margin: auto;
    border-radius: 100px;
    position: relative;
    margin-top: 100px;
    margin-bottom: 40px;
}
#magnifyingGlassImg {
    height: 30px;
    width: 30px;
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

#searchBar {
    height: 100%;
    width: 100%;
    padding: 10px 10px 10px 50px;
    background-color: transparent;
    border-radius: 100px;
    font-size: 1.4rem;
    border: transparent;
    color: white;
}
#searchBar::placeholder{
    color: white;
    opacity: 0.8;
}
#searchBar::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 25px;
  width: 25px;
  background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='white'><path d='M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z'/></svg>");
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

#searchBarContainer:has(#searchBar:focus) #magnifyingGlassImg {
    visibility: hidden;
}
#searchBarContainer:has(#searchBar:focus) {
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / .6);
}
#searchBar:focus {
    outline: none;
}

#searchBar:focus::placeholder{
    color: transparent;
}
