.navBar {
    display: flex;
    position: fixed;
    height: 70px;
    width: 100%;
    background-color: #0a7067;
    gap: 5%;
    justify-content: center;
    z-index: 101;
    top: 0;
    left: 0;
    padding: 0px 20px 0px 20px;
}
.navBtn {  
    height: 100%;
    width: 80px;
    color: white;
    border: transparent;
    background-color: transparent;
    text-align: center;
    padding-top: 20px;
}

.navBtn:hover{
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / .6);
    cursor: pointer;
}

.shopButton:hover {
    cursor: pointer;
    background-color: white;
    color: #28c9bf;
}

#cartContainer{
    height: 100%;
    width: 100px;
    display: flex;
}

#cartImg{
    height: 80%;
    object-fit: contain;
}

#cartCounter {
    height: 25px;
    width: 25px;
    border: 1px solid white;
    background-color: #089654;
    border-radius: 15px;
    font-size: 1.2rem;
    align-self: flex-end;
    padding-left: 7px;
    color: white;
}

@media screen and (max-width:600px) {
    .navBar{
        padding: 0px;
        gap: 0%;
    }
    
}