.footer{
    background-color: #0a7067;
    display: flex;
    width: 100vw;
    height: 50vh;
    border-radius: 10px;
    justify-content: space-around;
}

.footerSection{
    text-align: center;
    width: 33%;
}

#instagramLogo{
    height: 50px;
    width: 50px;
}

@media screen and (max-width: 600px) {
    .footer{
        flex-direction: column;
        align-items: center;
        height: 100vh;
    }
}