#filterBtnOuterContainer{
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

#filterBtnContainer {
    width: 90%;
    margin: auto;
    height: 50px;
    display: flex;
    margin-bottom: 40px;
    gap: 2.5%;
    justify-content: center;
}
.filterBtn {
    border-radius: 100px;
    border: 2px solid white;
    color: white;
    background-color: #3b6fb3;
    width: 15%;
    height: 100%;
}

.filterBtn:hover {
    box-shadow: 2px 2px 10px 1px rgb(0 0 0 / .6);
}

.filterBtn.active{
    border: 2px solid #3b6fb3;
    color: #3b6fb3;
    background-color: white;
}


@media screen and (max-width: 1000px) {
    #filterBtnContainer {
        width: 90%;
    }
}

@media screen and (max-width: 650px) {
        #filterBtnContainer {
        width: 100%;
        padding: 0px;
        gap: 0px;
    }

    .filterBtn{
        flex-basis: 20%;
        border: transparent;
        border-radius: 0px;
    }

    .filterBtn.activeFilter{
    border-bottom: 1px solid white;
    }
}